APP_NAME="DRP"
APP_VERSION="0.1"
# =========== LLM config =============
GENERATION_BACKEND = "COHERE"


COHERE_API_KEY="put your API KEY here"

GENERATION_MODEL_ID="command-a-03-2025"

INPUT_DAFAULT_MAX_CHARACTERS=2048
GENERATION_DAFAULT_MAX_TOKENS=4096
GENERATION_DAFAULT_TEMPERATURE=0.1

# =========== Tamplate config ========
ORGINAL_LANGUGE = "en"
DEFAULT_LANGUGE = "en"